.chatMessages {
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
}

.chatMessages__info {
  margin-left: 15px;
}

.chatMessages__info > h4 > p {
  font-weight: 450;
}

.chatMessages__timestamp {
  color: gray;
  margin-left: 10px;
  font-size: x-small;
}
