.sidebar__profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 10px;
  background-color: #23272a;
  border-top: 1px solid gray;
}

.sidebar__profileData {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

/* .sidebar__profileData:hover {
  display: none;
}

.sidebar__profileData:hover + .sidebar__logout {
  display: block;
  color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 11px;
  font-size: xx-large;
}

.sidebar__logout {
  display: none;
} */

.sidebar__profileInfo {
  flex: 1;
  padding: 10px;
}

.sidebar__profileInfo > h3 {
  color: #ffffff;
}

.sidebar__profileIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar__profileIcons > .MuiSvgIcon-root:hover {
  cursor: pointer;
  background-color: #474b53;
  border-radius: 10px;
  color: white;
}
