.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3136;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* background-color: #2f3136; */
  color: white;
  border-bottom: 4px solid #26282c;
}

.sidebar__githubLink {
  color: #9ecaed;
  border: 2px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  text-decoration: none;
}

.sidebar__githubLink:hover {
  outline: none;
  color: #b22222;
  border-color: #b22222;
  box-shadow: 0 0 10px #b22222;
}
