.sidebar__channels {
  flex: 1;
}

.sidebar__channelsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #2f3136; */
  color: gray;
}

.sidebar__expandChannel:hover {
  cursor: pointer;
  color: white;
}

.sidebar__header {
  display: flex;
  align-items: center;
}

.sidebar__channelsList > h4 {
  display: flex;
  padding-left: 15px;
  align-items: center;
  color: gray;
  cursor: pointer;
}
